<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
<form action="">
    <table>
        <thead>
        <tr>
            <th colspan="2">Login</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <label>UserName</label>
            </td>
            <td>
                <input name="username" required type="text">
            </td>
        </tr>
        <tr>
            <td>
                <label>Password</label>
            </td>
            <td>
                <input name="password" required type="password">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input name="submit" type="submit">
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>